body{
    background:linear-gradient( rgb(255, 174, 188) 0% , rgb(134, 14, 70)  100%);
}

.heading{
    margin-right:500px;
    color: yellow;
}

.result_div{
    border: solid darkmagenta;
    background-color: lightpink;
    color:rebeccapurple;
    border-radius: 30px;
}